:root{
  --width-container-explication: 300px;
}



.contain{
    margin: 0 auto;
    max-width: var(--max-width);
    /* padding: 0 25px; */
    width: 100%;
    color: white;
}
.features-list {
  padding-left: 5px;
}
.features-list__item{
  cursor: pointer;
    /* font-family: Inter, sans-serif; */
    font-family: "ibmplexmono";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-decoration: none;
    transition: color .3sease-out;


}
.features-list__item {
  border-bottom: 2px dotted #fff;
  display: flex;
  padding: 40px 0px;
}

.features-list__item:first-child {
    padding-top: 0;
}

.features-list__icon {
    flex: 0 0 auto;
    height: 40px;
    margin-right: 40px;
    position: relative;
    width: 40px;
}

.features-list__icon img, .features-list__icon svg {
    height: 36px;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: opacity .3sease-out;
    width: 36px;
}

.features-list__icon .img--hover {
    opacity: 0;
}

.title_content{
  line-height: 130%;
  font-size: clamp(24px, 3vw, 32px);
  margin-bottom: clamp(16px, 3vw, 20px);
  font-weight: 120;
  letter-spacing: -1px;
  font-family: Berkeley Mono Variable, monospace;
  color: #fff;
  pointer-events: none;
}

.content_content{
  font-size: clamp(16px, 5vw, 18px);
  margin-bottom: 0px;
  color: #fff;
  pointer-events: none;
  font-weight: 400;

  letter-spacing: 2px;
  line-height: 130%;
}

.feature-media__title {
  max-width: 320px;
    font-size: clamp(32px, 4vw, 48px);
    line-height: 140%;
    margin-bottom: clamp(22px, 3vw, 38px);
    font-family: "ibmplexmono";

}

.feature-media__title span {
    background-color: #fff;
    color: #000;
}
/*
@media only screen and (min-width: 640px) {
     .feature-media {
        height: 30vw;
    }
  }

@media only screen and (min-width: 1024px) {
   .feature-media {
        height: 280px;
    }
} */

#explication-two {
    /* width: 800px; */
    /* height: 2720px; */
    /* max-height: 1150px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* position: absolute; */
    /* top: -201px; */
    /* left: 3px; */
    overflow: hidden;
    z-index: -92;
    justify-content: flex-start;
}

.tried {
  position: relative;
  top: -200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  z-index: -10;
}
.explications__section {
  position: relative;
  top: -1200px;
  padding-bottom: 50px;
}

.background-explication-mask-container {
  position: absolute;
  opacity: 0.2;
  user-select: none;
  z-index: 1;


}

.background-explication-r {
  right: 0;
  margin-top: -250px;
  width: 50%;
  height: 600px;
}
.background-explication-l {
  left: 0;
  margin-top: -100px;
  width: 50%;
}




.mask-image {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
    z-index: -1;
}

.mask-image-l {
  --mask-size-l: 0px;
  --mask-x-l: 0px;
  --mask-y-l: 0px;
  mask-image:         radial-gradient(var(--mask-size-l) at var(--mask-x-l) var(--mask-y-l), #000 20%, transparent);
  -webkit-mask-image: radial-gradient(var(--mask-size-l) at var(--mask-x-l) var(--mask-y-l), #000 20%, transparent);

}

.mask-image-r {

  --mask-size-r: 0px;
  --mask-x-r: 0px;
  --mask-y-r: 0px;
  mask-image:         radial-gradient(var(--mask-size-r) at var(--mask-x-r) var(--mask-y-r), #000 20%, transparent);
  -webkit-mask-image: radial-gradient(var(--mask-size-r) at var(--mask-x-r) var(--mask-y-r), #000 20%, transparent);
z-index: -1;
}

.front-explication{
  max-width: var(--max-width);
  height: 100%;
  /* width: 73vw !important; */
  width: var(--width-container-explication);

  display: grid;
  /* grid-template-columns:  repeat(auto-fit, minmax(380px, 1fr));; */
  /* grid-row-gap: 12px; */
  /* grid-column-gap: 12px; */
  z-index: 3;
  padding: 7px;
}

.front-all {
  border: 1px solid white;
  border-radius: 20px;
  /* border-top-right-radius: var(--border-top-right-radius); */
  /* border-bottom-right-radius: var(--border-bottom-right-radius); */
  /* height: var(--height-front-left-right); */

}

.tabs-explication {
  border-top-right-radius: 20px;
  background-color: #abb4c150;
  border-bottom-color: #ffffff40;
  border-bottom-width: 1px;
  cursor: default;
  user-select: none;
  color: white;
  text-wrap: nowrap;
}

.explication-content {
    height: auto;
    width: 100%;
}

.back-explication{
  position: absolute;
  width: var(--width-container-explication);
  height: var(--height-textareas-back);
  max-width: var(--max-width);
  border-radius: 30px;
  box-shadow: inset 0 0 3rem 0rem white;

  background: rgba( 112, 67, 67, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  /* backdrop-filter: blur( 6px ); */
  /* -webkit-backdrop-filter: blur( 6px ); */
  border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.border-back-explication {


  opacity: 1;
  outline: 1px solid white;

  position: absolute;
  width: var(--width-container-explication);
  height: var(--height-textareas-front);
  max-width: var(--max-width);
  min-width: 200px;
  border-radius: 30px;

}

.text-title-explication {
  --ddd: #E98F81;
  --aaaa: #F0C78E;

  background: -webkit-linear-gradient(var(--white-orange),var(--pink-white ));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;

  font-family: "avenirnextltpro";
}

.text-description-explication{
  color: var(--greyblue);
  font-family: "avenirnextltpro";

}

.explication-container-left {
  place-self: center;
  align-self: flex-start;
}

#canvas-expli-one {
  height: 240px;
  width: 280px;
}
