.ant-tag.ant-tag-yellow {
  color: var(--yellow-text) !important;
  background: var(--transparent) !important;
  border-color: var(--yellow-background) !important;
}

.ant-tag.ant-tag-geekblue {
    color: var(--whiteblue);
    background: var(--transparent) !important;
    border-color: var(--whiteblue);
}

.ant-tag.ant-tag-volcano {
  color: var(--white) !important;
  background: var(--volcano-background) !important;
  border-color: var(--volcano-border) !important;
}

.ant-tag.ant-tag-green {
  color: var(--green-text) !important;
  background: var(--transparent) !important;
  border-color: var(--green-background) !important;
}

.ant-tag.ant-tag-cyan {
  color: var(--cyan-text);
  background: var(--white) !important;
  border-color: var(--cyan-background);
}

#backcard > div > div.space-y-1.py-1 > div > div > div > div > div > div.ant-table-body > table > tbody > tr.ant-table-placeholder > td > div > div.ant-empty-image > svg > g > g {
  fill: var(--white);
}

.ant-empty-normal .ant-empty-description{
  color: var(--white);
}

.ant-table-wrapper .ant-table-pagination.ant-pagination {
  margin-top: 8px !important;
  margin-bottom: 0px !important;
}

.ant-table-body{
  scrollbar-color: auto;

}

.ant-table-row{
  cursor: pointer;
}


.ant-table-body::-webkit-scrollbar {
  width: 4px;
}

.ant-table-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 4px;
}

.ant-table-body::-webkit-scrollbar-thumb {
  background: var(--pink-transparent);
  border-radius: 10px;
}

.expandedrow {
  margin: 0;
  text-wrap: pretty;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tagsinline {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
