#header-webgl-container {
  width: 100%;
  height: 720px;
  /* max-height: 650px; */
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: -1;
}

@media screen and (min-height: 1092px) {
  #header-webgl-container {
    height: 700px;
  }
}

#result-webgl-container{
  position: absolute;
  width: 100%;
  height: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: -1;
  opacity: 0.6;
  border-radius: 30px;
}

.rendering-webgl{
  position: fixed;
  right: 0;
  top: 50%;
  width: 59px;
  height: 86px;
  z-index: 2;
  cursor: pointer;

}
.cross{
  position: relative;
  right: 0;
  top: -90px;
  z-index: 3;
  cursor: pointer;
}

.novisible{
  animation: fadeout 1250ms forwards;
  opacity: 0;
}
.novisiblewithoutanimation {
  opacity: 0;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.initialvisible{
  animation: fadein 1250ms;
  opacity: 1;
}

.slide-in{
  animation: slide-in 550ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.jump{
  animation: jumping-out 150ms;
  animation-iteration-count: 2;
  animation-timing-function: linear;
}

.separationwebgl{
  position: absolute;
  width: 100%;
  z-index: -1;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0.15;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}


@keyframes jumping-out {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-7%);
  }
}

.border-circle{
  border-radius: 30px;
}
